@media ( max-width: 1200px ) {
    .main_header {
        align-items: flex-end;
    }
}


@media ( max-width: 992px ) {
    .promo .main_header {
        align-items: center; 
    } 
    .container {
        padding: 0 5px;
    }
    .carousel .carousel__inner {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        button {
            margin-right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border-color: $main-color;  
            background-color: #fff;
            content-visibility: hidden;
        }
        .slick-active button {
         background-color: $main-color;
          
        }
        .slick-track {
            height: 550px;
        }
    }
}

@media (max-width: 768px) {
    .advant_cards {
        flex-direction: column;
        align-items: center;
    }
    .form_media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form_header {
        text-align: center;
    }
    .form_text {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .header_logo {
        width: 170px;
        img {
            width: 100%;
        }
    }
    .header .header_oficial {
        font-size: 10px;
        span {
            font-size: 12px;
        }
    }
    .header .header__phone {
        font-size: 14px;
    }
    .header .button {
        width: 120px;
    }
}